<div class="message">
    @@loop('row.html',[
    {"name":"公司名称","info":"北京铁路局北京铁路局"},
    {"name":"公司类型","info":"全民所有制"},
    {"name":"行业","info":"铁路运输业"},
    {"name":"法定代表人","info":"刘树蓂"},
    {"name":"注册资金","info":"1954073万人民币"},
    {"name":"经营范围","info":"铁路客货运输；装卸、仓储；铁路运输设备、设施、配件的制造、安装、维修；建设项目发包；工程勘测、设计、施工的组织协调与管理；原材料、燃料、配件的采购、供应、销售、仓储；生活服务设施的经营与管理（国家有专项规定的除外）。"},
    {"name":"注册地址","info":"北京市东城区老钱胡同16号"},
    {"name":"办公地址","info":"北京市东城区老钱局胡同16号"},
    {"name":"电话","info":"暂无信息"}
    ])
</div>