<div class="message-li">
    <div class="message-name">
        公司名称
    </div>
    <div class="message-main">
        <input type="text" value="北京联云天下科技有限公司"/>
    </div>
</div>
<div class="message-li">
    <div class="message-name">
        客户负责人
    </div>
    <div class="message-main">
        <input type="text" value="刘宇"/>
    </div>
</div>
<div class="message-li">
    <div class="message-name">
        销售进度
    </div>
    <div class="message-main">
        <input type="text" value="初步沟通"/>
    </div>
</div>
<div class="message-li">
    <div class="message-name">
        所属行业
    </div>
    <div class="message-main">
        <input type="text" value="IT-互联网"/>
    </div>
</div>
<div class="message-li">
    <div class="message-name">
        注册资金
    </div>
    <div class="message-main">
        <input type="text" value="--"/>
    </div>
</div>
<div class="message-li">
    <div class="message-name">
        公司类型
    </div>
    <div class="message-main">
        <input type="text" value="有限责任公司（自然人投资或控股）"/>
    </div>
</div>