<div class="d-m-li">
    <div class="d-m-name">
        客户负责人
    </div>
    <div class="d-m-main">
        <i class="d-m-head" style="background-image: url(img/detail-head.png);"></i>
        <label class="d-m-con">刘宇</label>
    </div>
</div>
<div class="d-m-li">
    <div class="d-m-name">
        电话号码
    </div>
    <div class="d-m-main">
        010-8888 8888
    </div>
</div>
<div class="d-m-li">
    <div class="d-m-name">
        创建时间
    </div>
    <div class="d-m-main">
        2017-02-27
    </div>
</div>
<div class="d-m-li">
    <div class="d-m-name">
        最后联系时间
    </div>
    <div class="d-m-main">
        2017-02-27
    </div>
</div>
<div class="d-m-li">
    <div class="d-m-name">
        销售进度
    </div>
    <div class="d-m-main">
        <label class="p-color0">初步沟通</label>
        <!--<label class="p-color1">初步沟通</label>-->
    </div>
</div>
<div class="d-m-li">
    <div class="d-m-name">
        最后一次沟通结果
    </div>
    <div class="d-m-main">
        有意向-索要资料
    </div>
</div>