<div class="message-li">
    <div class="message-name">
        电话号码
    </div>
    <div class="message-main">
        <input type="text" value="010-8888 8888"/>
    </div>
</div>
<div class="message-li">
    <div class="message-name">
        公司地址
    </div>
    <div class="message-main">
        <input type="text" value="点击填写"/>
    </div>
</div>
<div class="message-li">
    <div class="message-name">
        公司地址
    </div>
    <div class="message-main">
        <input type="text" value="北京市朝阳区建外soho西区12号楼2704室"/>
    </div>
</div>
<div class="message-li">
    <div class="message-name">
        邮政编码
    </div>
    <div class="message-main">
        <input type="text" value="点击填写"/>
    </div>
</div>