<ul class="table-row">
    <li class="table-li table-li1">
        <!--<input class="checkbox" type="checkbox" />-->
        <div class="checkbox">
            <label><input type="checkbox"><i></i></label>
        </div>
    </li>
    <li class="table-li table-li2">
        白又亮
    </li>
    <li class="table-li table-li3">
        13910154169
    </li>
    <li class="table-li table-li4">
        刘晓宇
    </li>
    <li class="table-li table-li5">
        有意向-索要资料
    </li>
    <li class="table-li table-li6">
        通话时长：1’ 11”
    </li>
    <li class="table-li table-li7">
        <i class="icon video"></i>
        <i class="icon download"></i>
    </li>
</ul>
