<!-- 左侧菜单 -->
<aside class="b-aside">
    <div class="aside-head">
        <a href="" class="a-logo">
            <img src="img/h-logo.png" alt="">
        </a>
        <div class="menu-btn-box toggle-btn">
            <i class="icon menu-icon"></i>
        </div>
    </div>
    <div class="menu-warp">
        <ul class="m-list">
            @@loop('../menu/menu.html',[
            {"asideMenu" :
            "@@menu","menu":"menu1","icon":"1","title":"首页","href":"#","sub":[{"title":"数据统计","href":"index.html"},{"title":"考勤统计","href":""}]
            },
            {"asideMenu" :
            "@@menu","menu":"menu2","icon":"2","title":"客户","href":"#","sub":[{"title":"客户","href":"customer.html"},{"title":"联系人","href":"contact.html"}]
            },
            {"asideMenu" : "@@menu","menu":"menu3","icon":"3","title":"任务","href":"","sub":[] },
            {"asideMenu" : "@@menu","menu":"menu4","icon":"4","title":"设置","href":"","sub":[] }
            ])
        </ul>
    </div>
    <div class="aside-footer">
        让销售更简单
    </div>
</aside>