<div class="list-warp">
    <div class="list-left">
        <div class="list-t">
            隐藏字段
        </div>
        <div id="list-left"></div>
    </div>
    <div class="move-list">
        <a href="javascript:listMove(0);"><i class="icon-list icon icon-list-left"></i></a>
        <a href="javascript:listMove(1);"><i class="icon-list icon icon-list-right"></i></a>
    </div>
    <div class="list-right">
        <div class="list-t">
            显示字段
        </div>
        <div id="list-right"></div>
    </div>
    <div class="move-list">
        <a href="javascript:listMove(2);"><i class="icon-list icon icon-list-up"></i></a>
        <a href="javascript:listMove(3);"><i class="icon-list icon icon-list-down"></i></a>
    </div>
</div>