<div class="modal fade" id="@@layer" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="signUp-warp">
                <div class="signUp-close" data-dismiss="modal" aria-hidden="true">
                    <i>&times;</i>
                </div>
                <div class="signUp-main">
                    <div class="s-title">
                        欢迎注册云客企业版
                    </div>
                    <div class="s-box">
                        @@include('@@layerFrame')
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>