<header class="b-header">
    <div class="h-right">
        <div class="h-search">
            <form onsubmit="return Hsearch();">
                <div class="search-input-box">
                    <input type="text" class="search-input" placeholder="请输入姓名、公司、手机号等相关信息"/>
                </div>
                <div class="search-btn-box">
                    <input type="submit" value="&#xe616" class="search-btn"/>
                </div>
            </form>
        </div>
        <div class="h-nav-box">
            <div class="nav-li">
                <a class="nav-href" href="#">
                    <i class="nav-icon nav-service" data-toggle="tooltip" data-placement="bottom" title="在线客服"></i>
                    <!--<label class="nav-tip">在线客服</label>-->
                </a>
            </div>
            <div class="nav-li">
                <a class="nav-href info-number" href="javascript:void(0);">
                    <!--<label class="nav-num">555</label>-->
                    <i class="nav-icon nav-news" data-toggle="tooltip" data-placement="bottom" title="消息"></i>
                    <span class="badge bg-danger">555</span>
                    <!--<label class="nav-tip">消息</label>-->
                </a>

            </div>
            <div class="nav-li dropdown">
                <a class="nav-href" href="javascript:void(0);" data-toggle="dropdown">
                    <i class="nav-icon nav-help" data-toggle="tooltip" data-placement="bottom" title="帮助"></i>
                    <!--<label class="nav-tip">帮助</label>-->
                </a>
                <div class="dropdown-menu dropdown-box">
                    <a class="dropli" href="javascript:void(0);">
                        <i class="drop-icon drop-new"></i>
                        <label>新手引导</label>
                    </a>
                    <a class="dropli" href="javascript:void(0);">
                        <i class="drop-icon drop-help"></i>
                        <label>帮助中心</label>
                    </a>
                    <a class="dropli" href="javascript:void(0);">
                        <i class="drop-icon drop-video"></i>
                        <label>视频引导</label>
                    </a>
                    <a class="dropli" href="javascript:void(0);">
                        <i class="drop-icon drop-return"></i>
                        <label>意见反馈</label>
                    </a>
                </div>
            </div>
        </div>
        <div class="head dropdown">
            <div class="head-photo" data-toggle="dropdown" class="dropdown-toggle"
                 style="background-image: url(img/head.png);">
                <i></i>
            </div>
            <div class="dropdown-menu dropdown-box">
                <a class="dropli" href="javascript:void(0);">
                    <i class="drop-icon drop-down"></i>
                    <label>下载应用</label>
                </a>
                <a class="dropli" href="login.html">
                    <i class="drop-icon drop-out"></i>
                    <label>退出登录</label>
                </a>
            </div>
        </div>
    </div>
    <div class="h-main">
        <div class="h-company">
            北京蜜宝世纪科技有限公司
        </div>
    </div>
</header>